<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="./images/graphmagnifier_118081.ico">
  <title>Congress 113</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="./styles/custom.css">
</head>

<body>
  <header class="d-flex row flex-wrap align-items-center bg-primary">
    <img src="./images/graphmagnifier_118081.png" alt="lupa" class="col-2 img-fluid">
    <h1 class="col-6 ms-3">Data Insight Group</h1>
    <a class="col-3" href="info@datainsightgroup.net" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="28" height="28"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <rect x="3" y="5" width="18" height="14" rx="2" />
        <polyline points="3 7 12 13 21 7" />
      </svg> info@datainsightgroup.net
    </a>
    <ul class="nav nav-pills ps-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Congress 113</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-dark" href="./house.html" >House</a></li>
          <li><a class="dropdown-item text-dark" href="./senate.html" >Senate</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">Attendance</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-dark" href="./attendace_house.html" >House</a></li>
          <li><a class="dropdown-item text-dark" href="#" >Senate</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Party
          Loyalty</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item text-dark" href="./loyalty_house.html" >House</a></li>
          <li><a class="dropdown-item text-dark" href="./loyalty_senate.html" >Senate</a></li>
        </ul>
      </li>
    </ul>
  </header>

  <main id="app" class="p-4">
    <section>
      <h2>Congressmen</h2>
      <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills
        must also be passed by the Senate and further agreed to by the U.S. President before becoming law (unless both
        the House and Senate re-pass the legislation with a two-thirds majority in each chamber). The House has some
        exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are
        subsequently tried in the Senate), and to elect the U.S. President in case there is no majority in the Electoral
        College.</p>
      <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but
        every state is entitled to at least one representative.</p>
    </section>
    <section class="ps-3 d-flex gap-3">
      <div>
        <h5>Party</h5>
        <div class="d-flex column gap-3">
          <label>
            <input type="checkbox" v-model="partidosSeleccionados" id="Republicanos" value="R">
            Republicans
          </label>
          <label>
            <input type="checkbox" v-model="partidosSeleccionados" id="Democratas" value="D">
            Democrats
          </label>
          <label>
            <input type="checkbox" v-model="partidosSeleccionados" id="Independents" value="ID">
            Independents
          </label>
        </div>
      </div>
      <div>
        <h5>Estate</h5>
        <select id="options" v-model="selectValue">
          <option value="all">All</option>
          <option v-for="estado in estadosSinRepetir" :value="estado">{{estado}}</option>
        </select>
        {{listaEstados}}  
      </div>
      <!-- <div>
        <h5>Search by Name</h5>
        <div>
          <input type="text" id="buscador" v-model="nombreBuscador">
          <button>Search</button>  
        </div>
      </div> -->
    </section>
    <section>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Party</th>
            <th scope="col">State</th>
            <th scope="col">Years in Office</th>
            <th scope="col">% Votes w/ Party</th>
          </tr>
        </thead>
        <tbody id="tabla-house">
          <tr v-for="miembro in miembrosFiltrados">
            <td><a :href="miembro.url ? miembro.url : '#'" class="text-dark">{{miembro.last_name}} {{miembro.first_name}}</a></td>
            <td>{{miembro.party}}</td>
            <td>{{miembro.state}}</td>
            <td>{{miembro.seniority}}</td>
            <td>{{miembro.votes_against_party_pct}}</td>
          </tr>
  
        </tbody>
      </table>
      {{filtrarPorPartido}}
    </section>

  </main>

  <footer class="d-flex justify-content-center align-items-center">
    <p>2021 Data Insight Group | All Rights Reserved</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- <script src="./scripts/fetch.js"></script> -->
  <script src="https://unpkg.com/vue@3"></script>
  <script src="./scripts/vue.js"></script>
</body>

</html>